/* .App {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
} */

  


::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
}

/* Track (pista) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #221c27; /* Color de fondo de la pista */
}

/* Handle (manija) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #b3d5a3; /* Color de la manija */
  border-radius: 4px; /* Borde redondeado de la manija */
}

/* Al pasar el cursor sobre la manija de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de la manija al pasar el cursor sobre ella */
}